
 {% extends 'admin/login_base.html' %}
{% load static %}

  {% block title %}
  <title> Dadin Kowa High School | Login</title>

    {% endblock title %}

{% block login %}
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Dadin Kowa </b>High School Email Sent !!!</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">


      <p>
     You Have Been Emailed Instructions to Reset Password to your email , Please Check your Email
     </p>


      <div class="social-auth-links text-center mb-3">


      </div>
      <!-- /.social-auth-links -->


      <p class="mb-0">
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}



