{% extends 'admin/login_base.html' %}
{% load static %}

  {% block title %}
  <title> Dadin Kowa High School | Login</title>

    {% endblock title %}

{% block login %}
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Dadin Kowa </b>High School Password Reset</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">




     <form  method="post">
        {% csrf_token %}
          <!-- /.col -->
          <div class="col-12">
              <div class="form-group" style="margin-bottom:20px">
              {% for field in form %}
                {{ field.errors }}
               {{ field.label_tag }}
               <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
              {% endfor %}
                  </div>
            <button type="submit" class="btn btn-primary btn-block btn-success">Submit</button>
          </div>
          <!-- /.col -->
      </form>
  </div>
      <div class="social-auth-links text-center mb-3">


      </div>
      <!-- /.social-auth-links -->


      <p class="mb-0">
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}



