{% extends 'admin/base_template.html' %}


{% block header_title %}

{%  endblock  %}

{% block main_content %}

<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> {% block title %} {%  endblock  %}</h3>


                      {% block form %}

                      {% endblock %}

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                  {% block table %}

                  {% endblock %}
                   </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock main_content %}