{% extends 'admin/list_templates.html' %}

{% block header_title %}
  Manage Staff
{% endblock %}


{% block form %}
    <div class="row">
      <div class="col">
        <div class="card card-body">
          <form method="get">
              {{ myFilter.form.as_p }}
              <div class="btn btn-block">
                <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i></button>
              </div>
          </form>
          </div>
      </div>
    </div>

{% endblock %}

{% block table %}
                  <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Username</th>
                      <th>Profile Image</th>
                      <th>Address</th>
                      <th>Last Login</th>
                      <th>Date Joined</th>
                      <th>Position</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for staffs in staff %}
                    <tr>

                      <td>{{staffs.id}}</td>
                      <td>{{staffs.admin.first_name}}</td>
                      <td>{{staffs.admin.last_name}}</td>
                      <td>{{staffs.admin.email}}</td>
                      <td><span class="tag tag-success">{{ staffs.admin.username }}</span></td>

                        {% if staffs.profile_Image %}
                      <td><img src="{{staffs.profile_Image.url}}" style="width:90px"></td>
                        {% else %}
                        <td><img src="{{staffs.profile_Image}}" style="width:90px"></td>
                        {% endif %}

                      <td>{{staffs.address}}</td>
                      <td>{{staffs.admin.last_login }}</td>
                      <td>{{staffs.admin.date_joined }}</td>
                      <td>{{staffs.current_position }}</td>
                      <td><a href="{% url 'edit_staff' staffs.id %}" class="btn btn-success">Edit</a></td>

                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
 {% endblock %}